body {
    background-image: url("https://img.freepik.com/free-vector/flat-design-abstract-background_23-2149116123.jpg?w=1060&t=st=1673452112~exp=1673452712~hmac=664bc05bbf6445cc8a9d30580323f062a57a6c170b23ba991742d54605c43d1e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.replace {
    display: flex;
    justify-content: center;
}
 h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
}
.cont {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.btn {
    border-radius: 20px;
    padding: 20px;
    font-family: 'Libre Baskerville', serif;
    background-color: bisque;
}
button {
    padding: 10px;
    font-family: 'Libre Baskerville', serif;
    border-radius: 20px;
    background-color: #FFF6BD;
}
img {
    border-radius: 20px;
}
p {
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
}
h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 35px;
    letter-spacing: 10px;
}
